body {
    background-image: url('/static/game_app/images/17.png'); /* Ensure the path is correct */
    background-size: cover;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    top: 50px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 32px;
    color: #e3b505;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #e3b505;
    color: #000;
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

button#mainMenuBtn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 70px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
}

button#mainMenuBtn:hover {
    background-color: #45a049;
}
