{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Game</title>
    <link rel="stylesheet" href="{% static 'game_app/css/level_6.css' %}">
</head>
<body class="souls-like">
    <div id="timer" class="timer">Time: 00:00</div>

    <div class="button-container">
         <button id="back-button" class="custom-button back-button">Back</button>
         <button id="next-button" class="custom-button next-button">Next</button>
    </div>

    <div class="container">
        <div class="big-box background-image">
            <!-- Your background image content -->
            <div class="additional-image"></div>
            <div class="additional-image2"></div>
        </div>
        <div class="overlay">
            <div id="overlay-content">
                <!-- Text content will be dynamically updated here -->
                Example talk
            </div>
        </div>
        <div class="content">
            <!-- Heading for the current table -->
            <h2 class="table-heading">Cipher_Hills</h2>
            <div class="small-box sql-table" id="current-table">
                <table>
                    <thead>
                        <tr>
                            <th>NumOfVirusLegion</th>
                            <th>NumOfDefeatedMinions</th>
                            <th>AccessKeyValue</th>
                            <th>ReleasedFiles</th>
                            <!-- Add more table headers as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for datafield in Lunar_Landscape_data %}
                            <tr>
                                <td>{{ datafield.NumOfVirusLegion }}</td>
                                <td>{{ datafield.NumOfDefeatedMinions }}</td>
                                <td>{{ datafield.AccessKeyValue }}</td>
                                <td>{{ datafield.ReleasedFiles }}</td>
                                <!-- Render other fields as needed -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="small-box sql-table" id="second-table" style="display: none;">

                <table>
                    <thead>
                        <tr>
                            <th>NumOfVirusLegion</th>
                            <th>NumOfDefeatedMinions</th>
                            <th>AccessKeyValue</th>
                            <th>ReleasedFiles</th>
                            <!-- Add more table headers as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for datafield in Lunar_Landscape2_data %}
                            <tr>
                                <td>{{ datafield.NumOfVirusLegion }}</td>
                                <td>{{ datafield.NumOfDefeatedMinions }}</td>
                                <td>{{ datafield.AccessKeyValue }}</td>
                                <td>{{ datafield.ReleasedFiles }}</td>
                                <!-- Render other fields as needed -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- SQL Entry -->
    <div class="sql-entry">
        <textarea id="sql-query" rows="5" cols="50"></textarea>
        <button id="submit-query">Invoke</button>
    </div>
    <h2 class="ritual-heading">Write Your Dark Ritual</h2>

    <!-- Link to external JavaScript files -->
    <script src="{% static 'game_app/js/dialogues/dialogue6.js' %}"></script>
    <script src="{% static 'game_app/js/scripts/script6.js' %}"></script>
    <script src="{% static 'game_app/js/timer.js' %}"></script>
    <script src="{% static 'game_app/js/second_tables/script6.js' %}"></script>

    <!-- Previous and Next Buttons -->
    <button id="prevBtn"><</button>
    <button id="nextBtn">></button>

</body>
</html>
