{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Game</title>
    <link rel="stylesheet" href="{% static 'game_app/css/level_8.css' %}">
</head>
<body class="souls-like">
    <div id="timer" class="timer">Time: 00:00</div>

    <div class="button-container">
         <button id="back-button" class="custom-button back-button">Back</button>
         <button id="next-button" class="custom-button next-button">Next</button>
    </div>

    <div class="container">
        <div class="big-box background-image">
            <!-- Your background image content -->
            <div class="additional-image"></div>
            <div class="additional-image2"></div>
        </div>
        <div class="overlay">
            <div id="overlay-content">
                <!-- Text content will be dynamically updated here -->
                Example talk
            </div>
        </div>
        <div class="content">
            <<h2 id="current-table-heading" class="table-heading">PetaByte_Bay</h2>
            <div class="small-box sql-table" id="current-table">
                <table>
                    <thead>
                        <tr>
                            <th>TheDataBase</th>
                            <th>IndexType</th>
                            <th>MainFile</th>
                            <th>FileContents</th>
                            <!-- Add more table headers as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for datafield in cipher_hills_data %}
                            <tr>
                                <td>{{ datafield.TheDataBase }}</td>
                                <td>{{ datafield.IndexType }}</td>
                                <td>{{ datafield.MainFile }}</td>
                                <td>{{ datafield.FileContents }}</td>
                                <!-- Render other fields as needed -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h2 id="second-table-heading" class="table-heading" style="display: none;">PetaByte_Bay2</h2>
            <div class="small-box sql-table" id="second-table" style="display: none;">
                <table>
                    <thead>
                        <tr>
                            <th>TheDataBase</th>
                            <th>IndexType</th>
                            <th>MainFile</th>
                            <th>FileContents</th>
                            <!-- Add more table headers as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for datafield in cipher_hills2_data %}
                            <tr>
                                <td>{{ datafield.TheDataBase }}</td>
                                <td>{{ datafield.IndexType }}</td>
                                <td>{{ datafield.MainFile }}</td>
                                <td>{{ datafield.FileContents }}</td>
                                <!-- Render other fields as needed -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h2 class="table-heading">Your Result</h2>
            <div class="small-box sql-table" id="dynamic-table">
                <!-- Dynamic table content will be inserted here -->
            </div>
        </div>
    </div>
    <!-- SQL Entry -->
    <div class="sql-entry">
        <textarea id="sql-query" rows="5" cols="50"></textarea>
        <button id="submit-query">Invoke</button>
    </div>
    <h2 class="ritual-heading">Write Your Dark Ritual</h2>
    <div id="hint-container" class="hint-container" style="display: none;">
        <p id="hint-content"></p>
    </div>
    <button id="hint-button" class="custom-button hint-button">Hint</button>

    <!-- Link to external JavaScript files -->
    <script src="{% static 'game_app/js/dialogues/dialogue8.js' %}"></script>
    <script src="{% static 'game_app/js/scripts/script8.js' %}"></script>
    <script src="{% static 'game_app/js/timer.js' %}"></script>
    <script src="{% static 'game_app/js/second_tables/script8.js' %}"></script>

    <!-- Previous and Next Buttons -->
    <button id="prevBtn"><</button>
    <button id="nextBtn">></button>

</body>
</html>
